:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-accent-color: #2f303a;
  --background-color: #fff;
  --background-team-color: #f5f4fa;
  --second-accent-color: #fff;
  --frame-color: #eee;
  --logo-accent-color: #000;
  --background-button-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --header-frame-color: #ececec;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
.hero {
  padding: 200px 0;
  background-image: url(./img/ііі.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
  padding: 0 15px;
  /*outline: solid red;*/
  margin: 0 auto;
}

.nav-father {
  display: flex;
  gap: 90px;
  padding-left: 90px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo > span {
  color: var(--logo-accent-color);
}
.header-wrap {
  display: flex;
}

.info-header {
  display: flex;
}

.number-1 {
  padding-left: 120px;
}
.about-us {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
}
.footer-logo {
  margin-top: 10px;
}
.about-title {
  margin-top: 100px;
  margin-left: 450px;
  margin-bottom: 50px;
}
.about-team {
  display: flex;
}
.btn {
  background-color: dodgerblue;
  margin-top: 30px;
  color: #eee;
}
.pic-text {
  color: #eee;
  margin-left: 350px;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.vidstyp {
  padding-left: 100px;
}
.btn {
  margin-left: 500px;
}
.footer {
  background-color: #2f303a;
}
.our-team {
  margin-left: 450px;
  margin-top: 150px;
  margin-bottom: 40px;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.team {
  gap: 50px;
}
.about-team {
  gap: 25px;
}
.info-footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.number-footer {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.address {
  color: var(--second-accent-color);
}
.Studio2 {
  color: var(--second-accent-color);
}
.team-photos {
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
}
.clients-father {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}
.clients-text {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: var(--logo-accent-color);
  margin-top: 200px;
  margin-left: 450px;
  margin-bottom: 100px;
}
