:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-accent-color: #2f303a;
  --background-color: #fff;
  --background-team-color: #f5f4fa;
  --second-accent-color: #fff;
  --frame-color: #eee;
  --logo-accent-color: #000;
  --background-button-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --header-frame-color: #ececec;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
.hero {
  padding: 200px 0;
  background-image: url(./img/ііі.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  width: 1200px;
  padding: 0 15px;
  /*outline: solid red;*/
  margin: 0 auto;
}
.header-accent {
  color: #000;
}
.header-logo {
  color: aqua;
}
.nav-father {
  display: flex;
  gap: 90px;
  padding-left: 90px;
}
.header-logo {
  padding-left: ;
}
.header-logo {
  display: flex;
}
.plan {
  display: flex;
  padding-left: 70px;
}
.info-header {
  display: flex;
  padding-left: 120px;
}
.number-1 {
  padding-left: 120px;
}
.about-us {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
}
.footer-logo {
  margin-top: 10px;
}
.about-title {
  margin-top: 3px;
}
.about-team{
    display: flex;
}